.menu {
    display: flex;
    position: fixed;
    z-index: 10;
    list-style: none;
    margin-top: 50px;
}

.menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
}

li a {

    text-decoration: none;
    color: black;
    font-size: 40px;
    transition: all 0.45s;
}

.menu li:hover {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' width='390px' height='50px' viewBox='0 0 390 50' enable-background='new 0 0 390 50' xml:space='preserve'%3e%3cpath fill='none' stroke='%23000000' stroke-width='1.5' stroke-miterlimit='10' d='M0,47.585c0,0,97.5,0,130,0 c13.75,0,28.74-38.778,46.168-19.416C192.669,46.5,243.603,47.585,260,47.585c31.821,0,130,0,130,0' style='&%2310; /* stroke: %232218e0; */&%2310;'/%3e%3c/svg%3e");
    animation: line 1s;
}

.menu li:hover a {
    color: #fafafa;
}

.menu li:not(:last-child) {
    margin-right: 30px;
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@media (max-width: 520px) {
    .menu {
        padding: 0 25px;
    }

    .menu li {
        width: 90px;
    }

    li a {
        font-size: 28px;
    }
}

@media (max-width: 360px) {
    .menu li {
        width: 70px;
    }
}